<h1>This is toy number: <%= @toy[:id] %></h1>

<div>
    <ul>
        <li>Name: <%= @toy[:name] %> </li>
        <li>Description: <%= @toy[:description]%> </li>
        <li>Date: <%=@toy[:date]%></li>
        <li>User: <%=@toy[:user_id]%></li>
    </ul>
</div>

<div>
    <%= button_to 'Delete', toy_path(@toy),
    method: :delete,
    data: { confirm: "Are you sure?" }%>
</div>

<div>
<%= form_with(model: @toy, local: true) do |form| %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :date %>
        <%= form.date_field :date %>
    </div>

    <div>
        <%= form.label :user %>
        <%= form.number_field :user %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>
</div>