<h1>This is toy number: <%= @toy_id[:id] -26 %></h1>


<ul>
    <li>Name: <%= @toy_id[:name] %> </li>
    <li>Description: <%= @toy_id[:description]%> </li>
    <li>Date: <%=@toy_id[:date]%></li>
    <li>User: <%=@toy_id[:user]%></li>
</ul>
