<h1>This is toy number: <%= @toy[:id] %></h1>

<div>
    <ul>
        <li>Name: <%= @toy[:name] %> </li>
        <li>Description: <%= @toy[:description]%> </li>
        <li>Date: <%=@toy[:date]%></li>
        <li>User: <%=@toy[:user_id]%></li>
        <li>Pic: <%=@toy[:pic]%></li>
    </ul>
</div>

<div>
    <%= button_to 'Delete', toy_path(@toy),
    method: :delete,
    data: { confirm: "Are you sure?" }%>
</div>

<div>
    <%= render "form", toy: @toy%>
</div>